<div class="container d-flex flex-column m-auto text-center">
  <form name="sendForm" action="/send" method="POST">
    <label>
      Имя персонажа:
      <input name="name" type="text" placeholder="Введите имя">
    </label>
    <button type="submit">Отправить</button>
  </form>

<div class="mt-6" id="caracter" style="margin-top: 50px"></div>

</div>
